<section class="wrapper--footer--section">
  <div class="wrapper--footer container">
    <div class="footer--info">
      <div class="footer--title">
        Lorem ipsum dolor sit amet, consectetur:
      </div>
      <div class="footer--cards">
          <div class="footer--card">
            <div class="footer--card--logo">
              <img src="assets/img/dart.png" alt="">
            </div>
            <div class="footer--card--title">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            </div>
          </div>
        <div class="footer--card">
          <div class="footer--card--logo">
            <img src="assets/img/dart.png" alt="">
          </div>
          <div class="footer--card--title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          </div>
        </div>
        <div class="footer--card">
          <div class="footer--card--logo">
            <img src="assets/img/dart.png" alt="">
          </div>
          <div class="footer--card--title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          </div>
        </div>
      </div>
    </div>
    <div class="footer--title">
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="footer--button--main">
      <div class="footer--button">
        <app-button-open-modal></app-button-open-modal>
      </div>
    </div>
  </div>

</section>
