
<div class="wrapper--home ">
  <app-modalform></app-modalform>
  <app-header class="fade-in-section"></app-header>

  <section class="wrapper--info--section fade-in-section">
    <div class="wrapper--info container">
      <div class="header--info ">
        <div class="header--text">
          <div class="header--text--title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="header--text-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orcipurus.
          </div>
        </div>
        <div class="header--action">
          <div class="header--action--button">
            <app-button-open-modal></app-button-open-modal>
          </div>
          <div class="header--action--title">
            Suspendisse orcipurus.
          </div>
        </div>
      </div>
      <div class="info--contact">
        <div class="info--contact--item">
          <img src="assets/img/phone.png" alt="phone">
          <div>+432 344 343 444</div>
        </div>
        <div class="info--contact--item">
          <img src="assets/img/clock.png" alt="time">
          <div>Pon -Pt: 8:00-20:00</div>
        </div>
        <div class="info--contact--item">
          <img src="assets/img/geo.png" alt="geo">
          <div> ul. Prwkrkwrjkrkwjr 11, ff Krakow</div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--workout-plan--section fade-in-section">
    <div class="wrapper--workout-plan container">
        <div class="workout-plan--title">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div class="workout-plan--info--main">
          <div class="workout-plan-info--child">
            <div class="workout-plan-info--img">
              <img src="assets/img/gym.png" alt="gym">
            </div>
            <div class="workout-plan--text">
              <div class="workout-plan--text--title">
                Efekty na lata
              </div>
              <div class="workout-plan--text--subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
              </div>
            </div>
          </div>

          <div class="workout-plan-info--child">
            <div class="workout-plan-info--img">
              <img src="assets/img/gymnast.png" alt="gym">
            </div>
            <div class="workout-plan--text">
              <div class="workout-plan--text--title">
                Autorskie treningi
              </div>
              <div class="workout-plan--text--subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
              </div>
            </div>
          </div>

          <div class="workout-plan-info--child">
            <div class="workout-plan-info--img">
              <img src="assets/img/ming.png" alt="gym">
            </div>
            <div class="workout-plan--text">
              <div class="workout-plan--text--title">
                Studio fitness
              </div>
              <div class="workout-plan--text--subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
              </div>
            </div>
          </div>

          <div class="workout-plan-info--child">
            <div class="workout-plan-info--img">
              <img src="assets/img/sport.png" alt="gym">
            </div>
            <div class="workout-plan--text">
              <div class="workout-plan--text--title">
                Efekty na lata
              </div>
              <div class="workout-plan--text--subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class="wrapper--workout-video--section fade-in-section">
    <div class="wrapper--workout-video container">
        <div class="workout-video--text">
          <div class="workout-video--text--title">
            Poznaj nasz autorski
          </div>
          <div class="workout-video--text--subtitle">
            Trening Funkcionalny
          </div>
        </div>
        <div class="workout-video-block">
          <video src="assets/video/gym.mp4" autoplay crossorigin muted controls loop>
          </video>
        </div>
    </div>
  </section>

  <section class="wrapper--workout-plan--2--section fade-in-section">
    <div class="wrapper--workout-plan--2 container">
      <div class="workout-plan--title">
        Lorem ipsum dolor sit amet, consectetur
      </div>
      <div class="workout-plan--info--main--2">
        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>

        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>

        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>

        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>

        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>

        <div class="workout-plan-info--child--2">
          <div class="workout-plan-info--img--2">
            <img src="assets/img/done.png" alt="gym">
          </div>
          <div class="workout-plan--text--2">
            <div class="workout-plan--text--title--2">
              Efekty na lata
            </div>
            <div class="workout-plan--text--subtitle--2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas  condimentum ex nunc, et porttitor purus hendrerit in. Suspendisse orciurus. Lorem ipsum dolor sit
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer class="fade-in-section"></app-footer>
</div>

